<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/><!-- 使用驼峰命名法转换字段。 -->
	</settings>
	
	<typeAliases>
		<typeAlias alias="EnumHandler" type="com.github.xjs.mybatis.handler.EnumHandler" />
		<typeAlias alias="Person" type="com.github.xjs.mybatis.handler.domain.Person" />
		<typeAlias alias="Address" type="com.github.xjs.mybatis.handler.domain.Address" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test?allowMultiQueries=true" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/PersonMapper.xml" />
	</mappers>
	
</configuration>